.ant-layout {
	background: #f9a400 !important;
}

.login-wrapper {
	position: static;
}

.login-wrapper .logo {
	background-image: url("/logo.png");
	background-repeat: no-repeat;
	height: 128px;
	margin: 0 auto;
	width: 128px;
}

.form-wrapper {
	outline: 1px solid black;
}

.form-holder .ant-card {
	height: 100%;
	position: absolute;
	width: 100%;
}


@media screen and (min-width: 30em) {
	.form-holder .ant-card {
		height: 300px;
		left: 50%;
		margin-left: -240px;
		margin-top: -150px;
		max-width: 480px;
		top: 50%;
	}
}
